<%i=0%>
<%current_user.orders.each do |order|%>
<%i=i+1%>
<div class="entry">
<h3>Order #<%=i%></h3>
</div>
<%order.line_items.each do |line|%>
Line ID: <%= line.id%> Title of Product: <%= line.product.title%><br>
<%end%>
<%end%>